.markdown-preview {
  --blockquote-bg: #f3f3f3;
}

.markdown-preview blockquote {
  background-color: var(--blockquote-bg);
  border-left: 3px solid #00ffb7;
  padding: 10px;
  margin: 1em 0;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5 {
  border: none;
}

.markdown-preview hr {
  border: none;
  border-top: 2px solid rgb(225, 225, 225);
  background: white;
}

ul {
  list-style-type: disc;
}
